
/* Button Quay lại: Trắng nền, chữ tím */
.btn-back-custom {
    background-color: #fff;
    color: #7a6ad8;
    border: 1px solid #7a6ad8;
    border-radius: 20px;
    padding: 0px 25px;
    height: 40px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all .3s;
}

.btn-back-custom:hover {
    background-color: #7a6ad8;
    color: #fff;
}

.class-count-badge {
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    display: inline-block;
    min-width: 60px;
    text-align: center;
    color: #000000;
}

.class-count-badge.positive {
    background: #28a745;
}

.class-count-badge.negative {
    background: #dc3545;
}

.btn-consult {
    background: #007bff;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
}

.btn-consult:visited {
    color: white;
}
.no-class-label {
    color: #999;
    font-size: 12px;
}
